@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl text-darkGrayishBlue font-bold md:text-5xl;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
